#OS junk files
[Tt]humbs.db
*.DS_Store

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#NuGet
**/packages/
*.nupkg
**/logs/

#Build script output
[Bb]uild-[Oo]utput

# Directories containing working folders for Pester powershell unit tests.
test-working/

# Working directories for scripts to place temporary files.
script-working/